.header2
    display: flex
    justify-content: flex-start
    align-items: center    

.div1hdr2
    display: flex
    justify-content: flex-start
    align-items: center
    width: 30%
    padding-left: 6%

.logo2
    width: 100px
    height: 40px


.div2hdr2
    display: flex
    justify-content: space-between
    align-items: center
    width: 60%
    padding-right: 10% 

.div2hdr2
    a:nthchild(2)
        text-decoration: underline !important

.div2hdr2, .div3hdr2
    a
        text-decoration: none
        color: black


.div3hdr2
    display: flex
    justify-content: flex-start
    align-items: center
    width: 20%





