

header
    display: flex
    flex-direction: column
    width: 100%

.header1
    background-color: purple
    display: flex
    align-items: center
    width: 100%

    @media screen and (width: 768px)
        font-size: 10px;
    
    @media screen and (width: 1024px)
        font-size: 12px;

.span1
    @media screen and (width: 375px)
                display: none

    @media screen and (width: 425px)
                display: none
 

.div1hdr1
    display: flex
    justify-content: flex-start
    width: 30%

.div2hdr1
    display: flex
    justify-content: flex-start
    width: 70%
    color: white


.logo1
    width: 50px
    
button, input
    border-radius: 10%

button
    background-color: rgb(86, 192, 86)
    color: white


