
header
    display: flex
    flex-direction: column

.header1
    background-color: purple
    display: flex
    align-items: center
    

.div1hdr1
    display: flex
    justify-content: flex-start
    width: 30%

.div2hdr1
    display: flex
    justify-content: flex-start
    width: 70%
    color: white


.logo1
    width: 50px
    
button, input
    border-radius: 10%

button
    background-color: green


